{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Philosopher & Bottle{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'menu/style.css' %}">
</head>
<body>

<header class="site-header">
  <div class="header-top">

    <a href="{% url 'home' %}" class="logo">
      <img src="{% static 'menu/5287253502323265526.jpg' %}" alt="Logo" class="logo-img">
    </a>

    <nav class="top-links">
      <a href="{% url 'home' %}">Головна</a>
      <a href="{% url 'menu' %}">Меню</a>
      <a href="{% url 'checkout' %}">Залишити відгук</a>
    </nav>

    <div class="header-actions">
      <a href="{% url 'cart' %}" class="cart-btn">
        Кошик
        <span class="cart-count">
          {% if request.session.cart %}
            {{ request.session.cart|length }}
          {% else %}
            0
          {% endif %}
        </span>
      </a>
      <a href="/admin/" class="admin-link">Адмін</a>
    </div>

  </div>

  <!-- CATEGORIES -->
  <div id="menu" class="categories-strip">
    {% for c in categories %}
      <a href="{% url 'category' c.id %}" class="cat-item">
        {{ c.title }}
      </a>
    {% endfor %}
  </div>
</header>

<main class="page-content">
  {% block content %}{% endblock %}
</main>

<footer class="site-footer">
  <div class="footer-inner">
    <div>© Philosopher-and-Bottle</div>
    <div>Доставка • Меню • Відгуки</div>
  </div>
</footer>

</body>
</html>