{% extends 'menu/base.html' %}

{% block content %}
<h1>Ваш кошик</h1>

{% if cart_items %}
<div class="cart">
    {% for item in cart_items %}
    <div class="cart-row">
        <img src="{{ item.product.image.url }}" class="cart-img">

        <div>
            <h3>{{ item.product.title }}</h3>
            <p>{{ item.quantity }} шт</p>
            <p>{{ item.item_total }} грн</p>

            <a href="{% url 'remove_from_cart' item.product.id %}" class="remove">
                ❌ Видалити
            </a>
        </div>
    </div>
    {% endfor %}

    <h2 class="total">Разом: {{ total }} грн</h2>

    <a href="{% url 'checkout' %}" class="btn big-btn">
        Оформити замовлення
    </a>
</div>

{% else %}
<p>Кошик порожній 😥</p>
{% endif %}

<style>
.cart-row {
    display: flex;
    gap: 15px;
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 5px #0002;
}

.cart-img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.remove {
    color: red;
    text-decoration: none;
}

.total {
    margin-top: 20px;
}

.big-btn {
    padding: 14px 22px;
    font-size: 18px;
}
</style>
{% endblock %}