{% extends 'menu/base.html' %}
{% block title %}Кошик — LA{% endblock %}

{% block content %}
<h1>Ваш кошик</h1>

{% if items %}
<table>
    <tr>
        <th>Страва</th>
        <th>Кількість</th>
        <th>Сума</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{ item.dish.title }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.subtotal }} грн</td>
    </tr>
    {% endfor %}
</table>

<h2>Разом: {{ total }} грн</h2>

<a href="{% url 'checkout' %}" class="order-btn">Оформити замовлення</a>

{% else %}
<h3>Кошик порожній</h3>
{% endif %}

<style>
table {
    width: 100%;
}
.order-btn {
    display: block;
    background: green;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
}
</style>

{% endblock %}