% extends 'menu/base.html' %}
{% block title %}{{ category.title }} — LA{% endblock %}

{% block content %}
<h1>{{ category.title }}</h1>

<div class="dish-list">

    {% for dish in dishes %}
    <div class="dish-card">
        {% if dish.image %}
        <img src="{{ dish.image.url }}" class="dish-img">
        {% endif %}

        <h3>{{ dish.title }}</h3>
        <p>{{ dish.description }}</p>
        <b>{{ dish.price }} грн</b>

        <a href="{% url 'add_to_cart' dish.id %}" class="add-btn">Додати в кошик</a>
    </div>
    {% endfor %}

</div>

<style>
    .dish-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .dish-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        background: white;
        text-align: center;
    }
    .dish-img {
        width: 100%;
        border-radius: 10px;
    }
    .add-btn {
        display: block;
        margin-top: 10px;
        padding: 8px;
        background: black;
        color: white;
        text-decoration: none;
        border-radius: 6px;
    }
</style>

{% endblock %}