{% extends 'menu/base.html' %}
{% block title %}Оформлення замовлення{% endblock %}

{% block content %}
<section class="checkout-page">
  <h1>Оформлення замовлення</h1>

  {% if items %}
    <div class="checkout-layout">

      <!-- ФОРМА -->
      <form method="post" class="checkout-form">
        {% csrf_token %}

        <label>
          Імʼя
          <input type="text" name="name" required>
        </label>

        <label>
          Телефон
          <input type="text" name="phone" required>
        </label>

        <label>
          Адреса доставки
          <textarea name="address" required></textarea>
        </label>

        <button type="submit" class="order-btn big">
          Підтвердити замовлення
        </button>
      </form>

      <!-- ПІДСУМОК -->
      <div class="checkout-summary">
        <h3>Ваше замовлення</h3>

        {% for item in items %}
          <div class="summary-row">
            <span>{{ item.title }} × {{ item.qty }}</span>
            <span>{{ item.subtotal }} ₴</span>
          </div>
        {% endfor %}

        <hr>
        <div class="summary-total">
          <strong>Разом:</strong>
          <strong>{{ total }} ₴</strong>
        </div>
      </div>

    </div>
  {% else %}
    <p>Кошик порожній.</p>
  {% endif %}
</section>
{% endblock %}