{% extends 'menu/base.html' %}
{% load static %}

{% block title %}ПАБ Новояворівськ — «Philosopher-and-Bottle»{% endblock %}

{% block content %}
<section class="about-hero">
    <div class="about-grid">
        <div class="about-text">
            <h1>ПАБ Новояворівськ — «Philosopher-and-Bottle»</h1>

            <p>
                Хочеш вишуканих мега маленьких аристократичних страв?
                На жаль, друже, не до «Good Friend».
                У доброго друга подача нехай і авторська,
                але все просто та комфортно, а порції, вибач, величезні:
                ми ж друзі, тому все щедро.
            </p>

            <p>
                Чому пиво 🍻 та сидр?
                Для початку, це корисно, а ще таааак смачно.
                Пивний ресторан — «Добрий Друг» старався зібрати
                для тебе усе різноманіття смаку цього напою.
                27 позицій пінного — це не жарти.
                Все крафтове та живе.
            </p>

            <p>
                Для твого комфорту у мене є багацько залів:
                інтровертні куточки, загальна зала,
                літня тераса та перший поверх.
            </p>

            <p>
                Я обожнюю збирати дрібниці:
                пивний годинник, схеми пивоваріння,
                цитатні бляшанки — усе це
                допоможе познайомитися з нами ближче.
            </p>
        </div>

        <div class="about-image">
            <img src="{% static 'img/hero.jpg' %}" alt="Добрий друг">
        </div>
    </div>
</section>
{% endblock %}