{% extends 'menu/base.html' %}

{% block content %}
{% for category in categories %}
  <h2 class="menu-category-title">{{ category.title }}</h2>

  <div class="products-grid">
    {% for dish in dishes %}
      {% if dish.category_id == category.id %}
        <article class="card">
          {% if dish.image %}
            <img src="{{ dish.image.url }}">
          {% endif %}
          <h3>{{ dish.title }}</h3>
          <p>{{ dish.description }}</p>
          <div class="price">{{ dish.price }} ₴</div>
          <a href="{% url 'add_to_cart' dish.id %}" class="order-btn">Замовити</a>
        </article>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}